<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Precisamos ouvir o som do motor para detectar anomalias mecânicas através de Edge AI.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>A localização é usada para criar o baseline de condução e monitorar o veículo durante trajetos.</string>
	<key>NSMotionUsageDescription</key>
	<string>O acelerômetro e giroscópio são essenciais para medir vibrações e detectar comportamentos anômalos no carro.</string>
</dict>
</plist>
